<div class="container">
  <div class="col-sm-3">
    <input type="text" class="form-control" placeholder="Search..." size="12" ng-model="searchFilter"><br>
    <ul class="nav nav-pills nav-stacked">
      <li class="sidebar-tab"><a class="clickable" ng-click="showAllPages();">List Pages</a><br></li>
      <li><a class="clickable" ng-click="showRandomPage();">Random Page</a><br></li>
      <li><a class="clickable" ng-click="showPageForm(null);">New Page</a><br></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div ng-include="contentTemplatePath"></div>
  </div>
</div>
